<script>
// ##############  OCCLUSION SHORTCUTS  ##############
var RevealIncrementalShortcut = "N";
var ToggleAllOcclusionsShortcut = ",";

// ##############  BUTTON SETTINGS  ##############
// All buttons will also open with "H" if using the Hint Hotkeys add-on 
var ButtonShortcuts = {
    "Extra": "Alt + 1",
    "Personal Notes": "Alt + 2",
    "Missed Questions": "Alt + 3",
}
var ToggleAllButtonsShortcut = "'"

// change values from false to true to have the fields revealed from the start
var ButtonAutoReveal = {
    "Extra": false,
    "Personal Notes": false,
    "Missed Questions": false,
}

var ScrollToButton = true

<%- include('src/configs/colorfulTags.js') %>

</script>

<div id="extras" hidden>{{I0}}</div>
<div class="header">{{Header}}</div>
<button class="dummy-btn">
    <div class="io">{{Image}}</div>
</button>
<br>
<button id="button-reveal-next" class="button-general">Reveal Next</button>
<button id="button-toggle-all" class="button-general">Toggle All</button>
<br>
<div class="btn-spacer" hidden></div>

<!-- TOGGLE HINT BUTTONS -->
{{#Extra}}<hint-button field-name="Extra" short="ex" hint-id="extra"></hint-button>
<div id="dummy-ex" style="display: none;">{{edit:Extra}}</div>{{/Extra}}

{{#Personal Notes}}<hint-button field-name="Personal Notes" short="ln" hint-id="personal-notes"></hint-button>
<div id="dummy-ln" style="display: none;">{{edit:Personal Notes}}</div>{{/Personal Notes}}

{{#Missed Questions}}<hint-button field-name="Missed Questions" short="mq" hint-id="missed-questions"></hint-button>
<div id="dummy-mq" style="display: none;">{{edit:Missed Questions}}</div>{{/Missed Questions}}


<!-- PHYSEO HYPERLINK IMAGE -->
<a href="https://www.physeo.com"><img src="_PhyseoRoundLogo.png" alt="Physeo" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<div id="anki-am" data-name="Assets by ASSET MANAGER" data-version="2.1">

<%- include('src/components/colorfulTags.ejs') %>
    
<%- include('src/components/toggleButtons.ejs', {defaultIconFile: "_PhyseoRoundSmall.png"}) %>

<%- include('src/components/incrementalImageOccl.ejs') %>
</div>