<script>
// ##############  HINT REVEAL SHORTCUTS  ##############
// All shortcuts will also open with "H" if using the Hint Hotkeys add-on 
var ButtonShortcuts = {
    "Lecture Notes" : "Alt + 1",
    "Missed Questions" : "Alt + 2",
    "Pathoma" : "Alt + 3",
    "Boards and Beyond Links" : "",
    "Boards and Beyond" : "Alt + 4",
    "First Aid Links" : "",
    "First Aid" : "Alt + 5",
    "Sketchy" : "Alt + 6",
    "Sketchy 2": "",
    "Sketchy Extra": "",
    "Picmonic": "",
    "Pixorize" : "Alt + 7",
    "Physeo" : "Alt + 8",
    "Bootcamp" : "Alt + F2",
    "OME" : "Alt + F1",
    "Additional Resources" : "Alt + 9",
}
var ToggleAllButtonsShortcut = "'"
var ToggleNextButtonShortcut = "H";
// ##############  SHOW HINTS AUTOMATICALLY  ##############
var ButtonAutoReveal = {
    "Lecture Notes" : false,
    "Missed Questions" : false,
    "Pathoma" : false,
    "Boards and Beyond" : false,
    "Boards and Beyond Links" : false,
    "First Aid" : false,
    "First Aid Links" : false,
    "Sketchy" : false,
    "Sketchy 2": false,
    "Sketchy Extra": false,
    "Picmonic": false,
    "Pixorize" : false,
    "Physeo" : false,
    "Bootcamp" : false,
    "OME" : false, // not currently a button
    "Additional Resources" : false,
}

var ScrollToButton = true;

<%- include('src/configs/colorfulTags.js') %>

<%- include('src/configs/clozeOneByOne.js', {selective: true}) %>

</script>


<div class="clozefield" id="text">{{cloze:Text}}</div>

<!-- ##############  EDIT CLOZE DURING REVIEW  ##############
			-change below (not above) to  "edit:cloze:Text" for editable field, 
				but be sure to have the correct add-on installed-->

<div class="editcloze" id="text">{{edit:cloze:Text}}</div>


<br>

<!-- ##############  TEXT-TO-SPEECH ##############
replace the arrows/dashes from the statement below with double curly brackets-->

{{^One by one}}
<!--tts en_US voices=Apple_Samantha,Microsoft_Zira speed=1.4:cloze-only:Text-->
{{/One by one}}

<hr>

<!-- BUTTON FIELDS -->
<%- include('src/components/clozeOneByOneButtons.ejs', {optional: true}) %>

<!-- OME banner (desktop) -->
<div class="banner-ome">
  {{#OME}}{{OME}}{{/OME}}
</div>



<!-- BUTTON FIELDS -->
<%- include("src/components/hintButton.ejs", {name: "Lecture Notes", short:"ln", hintId: "notes" }) %>

<%- include("src/components/hintButton.ejs", {name: "Missed Questions", short:"mq", hintId: "missed" }) %>

<%- include("src/components/hintButton.ejs", {name: "Pathoma", short:"pat", hintId: "pathoma", icon:"_pathoma.icon.png", noText: true }) %>

<%- include("src/components/hintButton.ejs", {name: "Boards and Beyond", short:"bb", hintId: "bnb", icon:"_b&b.icon.png" }) %>


<!-- Extra field -->
{{#Extra}}<p></p>
<div id="extra">{{edit:Extra}}</div>
<br>{{/Extra}}

<%- include("src/components/hintButton.ejs", {name: "First Aid", short:"fa", hintId: "firstaid", icon: "_first-aid.icon_v2.1.png" }) %>

<%- include("src/components/hintButton.ejs", {name: "Sketchy", short:"sketchy", hintId: "sketchy", icon: "_sketchy.icon.png" }) %>

<%- include("src/components/hintButton.ejs", {name: "Sketchy 2", short:"sketchy2", hintId: "sketchy2", icon: "_sketchy.icon.png" }) %>

<%- include("src/components/hintButton.ejs", {name: "Sketchy Extra", short:"sketchyextra", hintId: "sketchyextra", icon: "_sketchy.icon.png" }) %>

<%- include("src/components/hintButton.ejs", {name: "Picmonic", short:"picmonic", hintId: "picmonic", icon: "_picmonic.icon.png" }) %>

<%- include("src/components/hintButton.ejs", {name: "Pixorize", short:"pixorize", hintId: "pixorize", icon: "_pixorize.png" }) %>

<%- include("src/components/hintButton.ejs", {name: "Physeo", short:"physeo", hintId: "physeo", icon: "_physeologo.icon.png", noText: true }) %>

<%- include("src/components/hintButton.ejs", {name: "Bootcamp", short:"bootcamp", hintId: "bootcamp", icon: "_bootcamp.png" }) %>

<!-- OME field (only shows on mobile) -->
{{#OME}}
  <span id="hint-ome" class="hintBtn" data-name="OME">
    <a onclick="toggleHintBtn('hint-ome')"></a>
    <button id="button-ome" class="button-general" onclick="toggleHintBtn('hint-ome')">
      <img src="_omelogo.icon.png"> OnlineMedEd
    </button>
    <div id="ome" class="hints" style="display: none;">{{edit:OME}}</div>
  </span>
{{/OME}}

<%- include("src/components/hintButton.ejs", {name: "Additional Resources", short:"ar", hintId: "additional" }) %>

<%- include("src/components/tagBasedHintButton.ejs", {
  name: "Boards and Beyond Links", 
  short:"bb-links", 
  hintId: "bnb-links", 
  icon:"_b&b.icon.png", 
  resourceTypeTagPart:"#b&b",  
  resourceSlug:"bb",
  linkPrefix: "B&B",
}) %>

<%- include("src/components/tagBasedHintButton.ejs", {
  name: "First Aid Links", 
  short:"fa-links", 
  hintId: "firstaid-links", 
  icon:"_first-aid.icon_v2.1.png", 
  resourceTypeTagPart:"#firstaid",  
  resourceSlug:"fa",
  linkPrefix: "FA4",
}) %>

<!-- ANKING HYPERLINK IMAGE -->
<a href="https://www.ankingmed.com"><img src="_AnkingIconSmall.png" alt="The AnKing" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/colorfulTags.ejs') %>

<%- include('src/components/tagBasedHintButtonsSetup.ejs') %>

<%- include('src/components/hintButtonsSetup.ejs') %>

<%- include('src/components/ankiPersistence.ejs') %>

<%- include('src/components/clozeOneByOneBack.ejs', {optional: true}) %>

<%- include('src/components/wikipediaSearches.ejs') %>

<%- include('src/components/ankiMobileUserActions.ejs') %>

<%- include('src/components/imageBlur.ejs') %>

<%- include('src/components/shuffleItems.ejs') %>
