<script>
// ##############  HINT REVEAL SHORTCUTS  ##############
// All shortcuts will also open with "H" if using the Hint Hotkeys add-on 
var ButtonShortcuts = {
    "Lecture Notes" : "Alt + 1",
    "Missed Questions" : "Alt + 2",
    "Pixorize" : "Alt + 3",
    "Additional Resources" : "Alt + 4",
}
var ToggleAllButtonsShortcut = '222' // '

// ##############  SHOW HINTS AUTOMATICALLY  ##############
var ButtonAutoReveal = {
    "Lecture Notes": false,
    "Missed Questions": false,
    "Pixorize": false,
    "Additional Resources": false,
}

var ScrollToButton = true;

<%- include('src/configs/colorfulTags.js') %>

<%- include('src/configs/clozeOneByOne.js') %>
</script>


<div class="clozefield" id="text">{{cloze:Text}}</div>

<!-- ##############  EDIT CLOZE DURING REVIEW  ##############
			-change below (not above) to  "edit:cloze:Text" for editable field, 
				but be sure to have the correct add-on installed-->

<div class="editcloze" id="text">{{edit:cloze:Text}}</div>


<br>

<!-- ##############  TEXT-TO-SPEECH ##############
replace the arrows/dashes from the statement below with double curly brackets-->

<!--tts en_US voices=Apple_Samantha speed=1.4:cloze-only:Text-->

<hr>

<!-- BUTTON FIELDS -->
<%- include('src/components/clozeOneByOneButtons.ejs', {optional: true}) %>

<%- include("src/components/hintButton.ejs", {name: "Lecture Notes", short:"ln", hintId: "notes" }) %>

<%- include("src/components/hintButton.ejs", {name: "Missed Questions", short:"mq", hintId: "missed" }) %>

<!-- EXTRA FIELD -->
<p></p>{{#Extra}}
<div id="extra">{{edit:Extra}}</div>
{{/Extra}}<br>

<%- include("src/components/hintButton.ejs", {name: "Pixorize", short:"pixorize", hintId: "pixorize" }) %>

<%- include("src/components/hintButton.ejs", {name: "Additional Resources", short:"ar", hintId: "additional" }) %>


<!-- ANKING HYPERLINK IMAGE -->
<a href="https://www.ankingmed.com"><img src="_AnKingRound.png" alt="The AnKing" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/hintButtonsSetup.ejs') %>

<%- include('src/components/clozeOneByOne.ejs', {optional: true}) %>

<%- include('src/components/colorfulTags.ejs') %>

<%- include('src/components/wikipediaSearches.ejs') %>