<div id="text">{{cloze:Text}}</div>

<br>

<!-- ##############  Text-to-speech  ##############
replace the arrows/dashes from the statement below with double curly brackets-->

{{tts en_US voices=Apple_Samantha speed=1.4:cloze:Text}}

<script>
// ############## USER CONFIGURATION START ##############
// Auto flip to back when One by one mode.
var autoflip = false 

<%- include('src/configs/countdownTimer.js') %>

<%- include('src/configs/colorfulTags.js') %>

// ############## USER CONFIGURATION END ##############
</script>

<%- include('src/components/clozeOneByOneAutoFlip.ejs', {optional: true}) %>

<%- include('src/components/countdownTimer.ejs') %>

<!-- PHYSEO HYPERLINK IMAGE -->
<a href="https://www.physeo.com"><img src="_PhyseoRoundLogo.png" alt="Physeo" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/colorfulTags.ejs') %>