<div id="front">{{edit:Front}}</div>
<div style="font-size:8px; font-style:italic;">Above Image(s) provided courtesy of Tammie Ferringer, MD</div>

<br>

<!-- ##############  Text-to-speech  ##############
replace the arrows/dashes from the statement below with double curly brackets-->

<!--tts en_US voices=Apple_Samantha,Microsoft_Zira speed=1.4:cloze:Text-->


<script>
// ############## USER CONFIGURATION START ##############
// Auto flip to back when One by one mode.
var autoflip = false 

<%- include('src/configs/countdownTimer.js') %>

<%- include('src/configs/colorfulTags.js') %>

<%- include('src/configs/clozeOneByOne.js') %>

// ############## USER CONFIGURATION END ##############
</script>

<%- include('src/components/ankiPersistence.ejs') %>

<%- include('src/components/imageBlur.ejs') %>

<%- include('src/components/countdownTimer.ejs') %>

<!-- Dermki HYPERLINK IMAGE -->
<a href="http://www.dermki.com"><img src="_dermki_text.png" alt="Dermki" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/colorfulTags.ejs') %>

<%- include('src/components/shuffleItems.ejs', {selector: "#front"}) %>