<script>
// ############## USER CONFIGURATION START ##############
// Auto flip to back when One by one mode.
var autoflip = false 

<%- include('src/configs/colorfulTags.js') %>

// ############## USER CONFIGURATION END ##############
</script>

<!-- AUTO FLIP FRONT -->
<script>
   var clozeOneByOneEnabled = true;
   <%- include('src/components/autoflipFront.ejs') %>
</script>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/imageBlur.ejs') %>

<%- include('src/components/colorfulTags.ejs') %>

{{#I0}}
{{#Image}}
<div id="front-info">
   <a href="https://www.ankingmed.com"><img src="_AnKingIcon.png"></a>
   <div>This is an Image Occlusion one by one card: Please flip to the backside.</div>
   <div class="help">
      <p>On the backside, your task is to incrementally reveal an image occlusion.
         Click on the active rectangle to reveal it and activate the next.</p>
   </div>
</div>

<div hidden>{{Image}}</div>
{{/Image}}
{{/I0}}