<script>
// ##############  HINT REVEAL SHORTCUTS  ##############
// All shortcuts will also open with "H" if using the Hint Hotkeys add-on 
var ButtonShortcuts = {
    "Personal Notes" : "Alt + 1",
    "Missed Questions" : "Alt + 2",
    "DermPath": "Alt + 3",
    "Dermoscopy": "Alt + 4",
    "VisualDx" : "Alt + 5",
    "Textbook" : "Alt + 6",
    "Additional Resources" : "Alt + 7",
}
var ToggleAllButtonsShortcut = "'"
var ToggleNextButtonShortcut = "H";
// ##############  SHOW HINTS AUTOMATICALLY  ##############
var ButtonAutoReveal = {
    "Personal Notes" : false,
    "Missed Questions" : false,
    "DermPath": false,
    "Dermoscopy": false,
    "VisualDx" : false,
    "Textbook" : false,
    "Additional Resources" : false,
}

var ScrollToButton = true;

<%- include('src/configs/colorfulTags.js') %>

<%- include('src/configs/clozeOneByOne.js') %>

</script>




<div class="clozefield" id="text">{{cloze:Text}}</div>

<!-- ##############  EDIT CLOZE DURING REVIEW  ##############
			-change below (not above) to  "edit:cloze:Text" for editable field, 
				but be sure to have the correct add-on installed-->

<div class="editcloze" id="text">{{edit:cloze:Text}}</div>


<br>

<!-- ##############  TEXT-TO-SPEECH ##############
replace the arrows/dashes from the statement below with double curly brackets-->

<!--tts en_US voices=Apple_Samantha,Microsoft_Zira speed=1.4:cloze-only:Text-->


<hr>


<!-- BUTTON FIELDS -->
<%- include('src/components/clozeOneByOneButtons.ejs', {optional: true}) %>

<%- include("src/components/hintButton.ejs", {name: "Personal Notes", short:"ln", hintId: "notes" }) %>

<%- include("src/components/hintButton.ejs", {name: "Missed Questions", short:"mq", hintId: "missed" }) %>

<%- include("src/components/hintButton.ejs", {name: "DermPath", short:"dp", hintId: "dermpath", icon: "_dermki_round.png\" style=\"height:12px;" }) %>

<%- include("src/components/hintButton.ejs", {name: "Dermoscopy", short:"ds", hintId: "dermoscopy", icon: "_dermki_round.png\" style=\"height:12px;" }) %>

<%- include("src/components/hintButton.ejs", {name: "Additional Resources",  displayName: "Dermnemonics", short:"ar", hintId: "additional", icon: "_dermki_round.png\" style=\"height:12px;" }) %>

<%- include("src/components/hintButton.ejs", {name: "VisualDx", displayName: "DermatoGraphix", short:"vd", hintId: "visualdx", icon: "_dermki_round.png\" style=\"height:12px;" }) %>

<!-- Extra field -->
{{#Extra}}<p></p>
<div id="extra">{{edit:Extra}}</div>
<br>{{/Extra}}

<!-- images from dermnet.nz -->
{{#DermNet}}
<p></p>
<div id="dermnet">{{edit:DermNet}}</div>
<a href="https://dermnetnz.org" style="font-size:8px; font-style:italic;">Above Image(s) provided courtesy of DermNetNZ.org</a>
<hr>
{{/DermNet}}

{{#Full Spectrum of Dermatology}}<p></p>
<div id="fullspectrum">{{edit:Full Spectrum of Dermatology}}</div>
{{/Full Spectrum of Dermatology}}


<%- include("src/components/hintButton.ejs", {name: "Textbook", short:"tx", hintId: "textbook", icon: "_dermki_round.png\" style=\"height:12px;" }) %>

<!-- RANDOMIZE IMAGES -->
<script>
    function shuffle(array) {
        let currentIndex = array.length;
        while (currentIndex != 0) {
            let randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;
            [array[currentIndex], array[randomIndex]] = [
                array[randomIndex],
                array[currentIndex],
            ];
        }
    }
    (() => {
        const selectors = ["#dermnet,#dermpath,#dermoscopy,#visualdx,#fullspectrum"];
        for (const selector of selectors) {
            const imagesElement = document.querySelector(selector);
            const images = Array.from(imagesElement.querySelectorAll("img"));
            const shuffledImages = Array.from(images.map(img => img.cloneNode(true)));
            shuffle(shuffledImages);
            for (let i = 0; i < images.length; i++) {
                images[i].replaceWith(shuffledImages[i]);
            }            
        }
    })();
</script>


<!-- ANKING HYPERLINK IMAGE -->
<a href="https://www.ankingmed.com"><img src="_AnKingRound.png" alt="The AnKing" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/colorfulTags.ejs') %>

<%- include('src/components/hintButtonsSetup.ejs') %>

<%- include('src/components/ankiPersistence.ejs') %>

<%- include('src/components/clozeOneByOneBack.ejs', {optional: true}) %>

<%- include('src/components/wikipediaSearches.ejs') %>

<%- include('src/components/ankiMobileUserActions.ejs') %>

<%- include('src/components/imageBlur.ejs') %>
