<%#

# Parameters
- name: string
- short: string
- hintId: string
- icon?: string
- noText?: boolean
- displayName?: string

# Components
## After
components/hintButtonsSetup

_%>
<%_ 
  var noText = noText === undefined ? false : noText
  var icon = icon === undefined ? "_AnKingRound.png" : icon
  var displayName = displayName === undefined ? name : displayName
  
  const containerId = `hint-${short}`
  const btnId = `button-${short}`
_%> 
{{#<%- name %>}}
<span id = "<%- containerId %>" class="hintBtn" data-name="<%-name%>">
  <a href="#" class="hint" onclick="toggleHintBtn('<%- containerId %>')"></a>
  <button id="<%- btnId %>" class="button-general" onclick="toggleHintBtn('<%- containerId %>')">
    <img src="<%- icon %>" style="height:12px"> <% if (!noText) { %><%- displayName %><% } %>
  </button>
  <div dir="auto" id="<%- hintId %>" class="hints" style="display: none;">{{edit:<%- name %>}}</div>
</span>
{{/<%- name %>}}