<!-- #########################################################
################  USER CUSTOMIZATION START  ############## -->

<script>
<%- include('src/components/clozeOneByOneUserConf.js') %>

// ~~~~~~~~~~~~~  HINT REVEAL SHORTCUTS  ~~~~~~~~~~~~~
// All shortcuts will also open with "H" if using the Hint Hotkeys add-on 
var ButtonShortcuts = {
    "Personal Notes" : "Alt + 1",
    "Missed Questions" : "Alt + 2",
}
var ToggleAllButtonsShortcut = "'"

// ~~~~~~~~~~~~~  SHOW HINTS AUTOMATICALLY  ~~~~~~~~~~~~~
var ButtonAutoReveal = {
    "Personal Notes" : false,
    "Missed Questions" : false,
}

var ScrollToButton = true;

//ENTER THE TAG TERM WHICH, WHEN PRESENT, WILL TRIGGER A RED BACKGROUND
var tagID = "XXXYYYZZZ"

</script>

<!--################  USER CUSTOMIZATION END  ################
###########################################################-->



<!-- ###  IMPORTANT NOTE: This Note type will not work with the Edit Field During Review (Cloze) Add-on -->
<div id="text">{{cloze:Text}}</div>


<br>

<!-- ~~~~~~~~~~~~~  TEXT-TO-SPEECH ~~~~~~~~~~~~~
replace the arrows/dashes from the statement below with double curly brackets-->

<!--tts en_US voices=Apple_Samantha speed=1.4:cloze-only:Text-->


<hr>


<!-- BUTTON FIELDS -->
<%- include('src/components/clozeOneByOneButtons.ejs', {optional: false}) %>

<div class="btn-spacer" hidden></div>
<hint-button field-name="Personal Notes" short="ln" hint-id="notes"></hint-button>
<div id="dummy-ln" style="display: none;">{{Personal Notes}}</div>

<hint-button field-name="Missed Questions" short="mq" hint-id="missed"></hint-button>
<div id="dummy-mq" style="display: none;">{{Missed Questions}}</div>


<!-- Extra field -->
<p></p>{{#Extra}}
<div id="extra">{{edit:Extra}}</div>
{{/Extra}}<br>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/clozeOneByOne.ejs', {optional: false}) %>

<!-- PHYSEO HYPERLINK IMAGE -->
<a href="https://www.physeo.com"><img src="_PhyseoRoundLogo.png" alt="Physeo" id="pic"></a>

<%- include('src/components/toggleButtons.ejs', {defaultIconFile: "_PhyseoRoundSmall.png"}) %>

<%- include('src/components/colorfulTags.ejs') %>

<%- include('src/components/wikipediaSearches.ejs') %>