<script>
// ##############  HINT REVEAL SHORTCUTS  ##############
// All shortcuts will also open with "H" if using the Hint Hotkeys add-on 
var ButtonShortcuts = {
  "Definitions": "Alt + 1",
  "Examples": "Alt + 2",
  "Alternative Translations": "Alt + 3"
}

var ToggleAllButtonsShortcut = "'"
var ToggleNextButtonShortcut = "H";
// ##############  SHOW HINTS AUTOMATICALLY  ##############
var ButtonAutoReveal = {
  "Definitions": false,
  "Examples": false,
  "Alternative Translations": false,
}

var ScrollToButton = true;

<%- include('src/configs/colorfulTags.js') %>

</script>


<div id="front">{{edit:Front}}</div>

<hr id=answer>

<!-- Back field -->
<p></p>
<div id="back">{{edit:Back}}</div>

{{#Romanization}}<div class="hints" id="romanization" href="#">{{Romanization}}</div>{{/Romanization}}

<br>

<!-- ##############  Text-to-speech  ##############
replace the arrows/dashes from the statement below with double curly brackets-->

<!--tts en_US voices=Apple_Samantha,Microsoft_Zira speed=1.4:Back-->

<!-- BUTTON FIELDS -->
<%- include("src/components/hintButton.ejs", {name: "Definitions", short:"df", hintId: "definitions"}) %>

<%- include("src/components/hintButton.ejs", {name: "Examples", short:"exp", hintId: "examples"}) %>

<%- include("src/components/hintButton.ejs", {name: "Alternative Translations", short:"alt", hintId: "alt"}) %>


<!-- ANKING HYPERLINK IMAGE -->
<a href="https://www.ankingmed.com"><img src="_AnKingRound.png" alt="The AnKing" id="pic"></a>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/colorfulTags.ejs') %>

<%- include('src/components/hintButtonsSetup.ejs') %>

<%- include('src/components/wikipediaSearches.ejs') %>

<%- include('src/components/ankiMobileUserActions.ejs') %>