<div id="front">{{edit:Front}}</div>

<br>

<!-- ##############  Text-to-speech  ##############
replace the arrows/dashes from the statement below with double curly brackets-->

<!--tts en_US voices=Apple_Samantha speed=1.4:Front -->


<script>
// ############## USER CONFIGURATION START ##############

// Timer config (timer length, timer finished message)
var minutes = 0
var seconds = 9
var timeOverMsg = "<span style='color:#CC5B5B'>!<br/>!<br/>!<br/>!<br/>!<br/>!</span>"

<%- include('src/configs/colorfulTags.js') %>

// ############## USER CONFIGURATION END ##############
</script>

<%- include('src/components/ankingAddEventListener.ejs') %>

<%- include('src/components/shortcutMatcher.ejs') %>

<%- include('src/components/countdownTimer.ejs') %>

<!-- ANKING HYPERLINK IMAGE -->
<a href="https://www.ankingmed.com"><img src="_AnKingRound.png" alt="The AnKing" id="pic"></a>


<script>
    //DONT FADE BETWEEN CARDS
	qFade=0; if (typeof anki !== 'undefined') anki.qFade=qFade;
</script>

<%- include('src/components/colorfulTags.ejs') %>